workflow/Integration Webhooks, Supabase.blueprint.json
{
    "name": "Integration Webhooks, Supabase",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomMailHook",
            "version": 1,
            "parameters": {
                "hook": 2215102,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -127,
                    "y": 38
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "homebound fax"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-mailhook",
                        "label": "Mailhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 9,
            "module": "http:MakeRequest",
            "version": 4,
            "parameters": {
                "tlsType": "",
                "proxyKeychain": "",
                "authenticationType": "noAuth"
            },
            "mapper": {
                "url": "https://api-inference.huggingface.co/models/aaditya/Llama3-OpenBioLLM-70B",
                "method": "post",
                "headers": [
                    {
                        "name": "Authorization",
                        "value": "Bearer [api token]"
                    },
                    {
                        "name": "Content-Type",
                        "value": "application/json"
                    }
                ],
                "contentType": "json",
                "inputMethod": "jsonString",
                "shareCookies": false,
                "parseResponse": true,
                "allowRedirects": true,
                "stopOnHttpError": true,
                "jsonStringBodyContent": "{\r\n  \"inputs\": \"Extract the following from this discharge note into a structured JSON object: patient_name, equipment_type, and snomed_code. Discharge note: {{1.Value}}\",\r\n  \"parameters\": { \"return_full_text\": false }\r\n}",
                "requestCompressedContent": true
            },
            "metadata": {
                "designer": {
                    "x": 201,
                    "y": 89
                },
                "restore": {
                    "expect": {
                        "method": {
                            "mode": "chose",
                            "label": "POST"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null,
                                null
                            ]
                        },
                        "contentType": {
                            "label": "application/jsonEnter data in the JSON format, as a string or using a data structure."
                        },
                        "inputMethod": {
                            "label": "JSON stringEnter the JSON body as a raw text string. If values contain JSON reserved characters, you must escape them manually."
                        },
                        "shareCookies": {
                            "mode": "chose"
                        },
                        "parseResponse": {
                            "mode": "chose"
                        },
                        "allowRedirects": {
                            "mode": "chose"
                        },
                        "paginationType": {
                            "label": "Empty"
                        },
                        "queryParameters": {
                            "mode": "chose"
                        },
                        "stopOnHttpError": {
                            "mode": "chose"
                        },
                        "requestCompressedContent": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "tlsType": {
                            "label": "Empty"
                        },
                        "proxyKeychain": {
                            "label": "Choose a key"
                        },
                        "authenticationType": {
                            "label": "No authenticationUse when no credentials are required for the request."
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "authenticationType",
                        "type": "select",
                        "label": "Authentication type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "noAuth",
                                "apiKey",
                                "basicAuth",
                                "oAuth"
                            ]
                        }
                    },
                    {
                        "name": "tlsType",
                        "type": "select",
                        "label": "Transport layer security (TLS)",
                        "validate": {
                            "enum": [
                                "mTls",
                                "tls"
                            ]
                        }
                    },
                    {
                        "name": "proxyKeychain",
                        "type": "keychain:proxy",
                        "label": "Proxy"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name",
                                    "required": true,
                                    "validate": {
                                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                                    }
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Header"
                        },
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "queryParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Parameter"
                        },
                        "type": "array",
                        "label": "Query parameters"
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Body content type",
                        "validate": {
                            "enum": [
                                "json",
                                "multipart",
                                "urlEncoded",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "stopOnHttpError",
                        "type": "boolean",
                        "label": "Return error if HTTP request fails",
                        "required": true
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "allowRedirects",
                        "type": "boolean",
                        "label": "Allow redirects",
                        "required": true
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "requestCompressedContent",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "inputMethod",
                        "type": "select",
                        "label": "Body input method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "dataStructure",
                                "jsonString"
                            ]
                        }
                    },
                    {
                        "name": "jsonStringBodyContent",
                        "type": "text",
                        "label": "Body content",
                        "required": true
                    },
                    {
                        "name": "paginationType",
                        "type": "select",
                        "label": "Pagination type",
                        "validate": {
                            "enum": [
                                "offsetBased",
                                "pageBased",
                                "urlBased",
                                "tokenBased"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "data",
                        "type": "any",
                        "label": "Data"
                    },
                    {
                        "name": "statusCode",
                        "type": "number",
                        "label": "Status Code"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "content-length",
                                "type": "text",
                                "label": "Content-Length"
                            },
                            {
                                "name": "content-encoding",
                                "type": "text",
                                "label": "Content-Encoding"
                            },
                            {
                                "name": "content-type",
                                "type": "text",
                                "label": "Content-Type"
                            },
                            {
                                "name": "server",
                                "type": "text",
                                "label": "Server"
                            },
                            {
                                "name": "cache-control",
                                "type": "text",
                                "label": "Cache-Control"
                            },
                            {
                                "name": "set-cookie",
                                "spec": {
                                    "type": "text"
                                },
                                "type": "array",
                                "label": "Set-Cookie"
                            }
                        ],
                        "type": "collection",
                        "label": "Headers"
                    }
                ]
            }
        },
        {
            "id": 10,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": 350789
            },
            "mapper": {
                "json": "{{9.data}}"
            },
            "metadata": {
                "designer": {
                    "x": 504,
                    "y": 129
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "My data structure"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "help": "",
                        "name": "patient_name",
                        "type": "text",
                        "label": "Patient name",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "equipment_type",
                        "type": "text",
                        "label": "Equipment type",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "snomed_code",
                        "type": "text",
                        "label": "Snomed code",
                        "default": null,
                        "required": false,
                        "multiline": false
                    }
                ]
            }
        },
        {
            "id": 13,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 802,
                    "y": 222
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 25,
                            "module": "supabase:createARow",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 8554799
                            },
                            "mapper": {
                                "table": "equipment_orders",
                                "snomed_code": "{{10.snomed_code}}",
                                "patient_name": "{{10.patient_name}}",
                                "equipment_type": "{{10.equipment_type}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1102,
                                    "y": 72
                                },
                                "restore": {
                                    "expect": {
                                        "table": {
                                            "mode": "chose",
                                            "label": "equipment_orders",
                                            "nested": [
                                                {
                                                    "help": "Note:\nThis is a Primary Key.<pk/>",
                                                    "name": "id",
                                                    "type": "integer",
                                                    "label": "id",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "patient_name",
                                                    "type": "text",
                                                    "label": "patient_name",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "equipment_type",
                                                    "type": "text",
                                                    "label": "equipment_type",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "snomed_code",
                                                    "type": "text",
                                                    "label": "snomed_code",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "vendor_name",
                                                    "type": "text",
                                                    "label": "vendor_name",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "Defaults to Pending. ",
                                                    "name": "order_status",
                                                    "type": "text",
                                                    "label": "order_status",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "Defaults to now(). ",
                                                    "name": "created_at",
                                                    "type": "text",
                                                    "label": "created_at",
                                                    "options": null,
                                                    "required": false
                                                }
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "supabase"
                                            },
                                            "label": "HomeBound-DB"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:supabase",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "id",
                                        "type": "integer"
                                    },
                                    {
                                        "name": "patient_name",
                                        "type": "text"
                                    },
                                    {
                                        "name": "equipment_type",
                                        "type": "text"
                                    },
                                    {
                                        "name": "snomed_code",
                                        "type": "text"
                                    },
                                    {
                                        "name": "vendor_name",
                                        "type": "text"
                                    },
                                    {
                                        "name": "order_status",
                                        "type": "text"
                                    },
                                    {
                                        "name": "created_at",
                                        "type": "text"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "number",
                                        "label": "id"
                                    },
                                    {
                                        "name": "patient_name",
                                        "type": "text",
                                        "label": "patient_name"
                                    },
                                    {
                                        "name": "equipment_type",
                                        "type": "text",
                                        "label": "equipment_type"
                                    },
                                    {
                                        "name": "snomed_code",
                                        "type": "text",
                                        "label": "snomed_code"
                                    },
                                    {
                                        "name": "vendor_name",
                                        "type": "text",
                                        "label": "vendor_name"
                                    },
                                    {
                                        "name": "order_status",
                                        "type": "text",
                                        "label": "order_status"
                                    },
                                    {
                                        "name": "created_at",
                                        "type": "text",
                                        "label": "created_at"
                                    },
                                    {
                                        "name": "fhir_patient_id",
                                        "type": "text",
                                        "label": "fhir_patient_id"
                                    },
                                    {
                                        "name": "fhir_service_request_id",
                                        "type": "text",
                                        "label": "fhir_service_request_id"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 29,
                            "module": "supabase:createARow",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 8554799
                            },
                            "mapper": {
                                "table": "equipment_orders",
                                "patient_name": "{{10.patient_name}}",
                                "equipment_type": "{{10.equipment_type}}",
                                "snomed_code": "{{10.snomed_code}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1085,
                                    "y": 491
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "HomeBound-DB",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "supabase"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "table": {
                                            "mode": "chose",
                                            "nested": [
                                                {
                                                    "help": "Note:\nThis is a Primary Key.<pk/>",
                                                    "name": "id",
                                                    "type": "integer",
                                                    "label": "id",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "patient_name",
                                                    "type": "text",
                                                    "label": "patient_name",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "equipment_type",
                                                    "type": "text",
                                                    "label": "equipment_type",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "snomed_code",
                                                    "type": "text",
                                                    "label": "snomed_code",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "vendor_name",
                                                    "type": "text",
                                                    "label": "vendor_name",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "Defaults to Pending. ",
                                                    "name": "order_status",
                                                    "type": "text",
                                                    "label": "order_status",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "Defaults to now(). ",
                                                    "name": "created_at",
                                                    "type": "text",
                                                    "label": "created_at",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "fhir_patient_id",
                                                    "type": "text",
                                                    "label": "fhir_patient_id",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "fhir_service_request_id",
                                                    "type": "text",
                                                    "label": "fhir_service_request_id",
                                                    "options": null,
                                                    "required": false
                                                }
                                            ],
                                            "label": "equipment_orders"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:supabase",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "id",
                                        "type": "integer"
                                    },
                                    {
                                        "name": "patient_name",
                                        "type": "text"
                                    },
                                    {
                                        "name": "equipment_type",
                                        "type": "text"
                                    },
                                    {
                                        "name": "snomed_code",
                                        "type": "text"
                                    },
                                    {
                                        "name": "vendor_name",
                                        "type": "text"
                                    },
                                    {
                                        "name": "order_status",
                                        "type": "text"
                                    },
                                    {
                                        "name": "created_at",
                                        "type": "text"
                                    },
                                    {
                                        "name": "fhir_patient_id",
                                        "type": "text"
                                    },
                                    {
                                        "name": "fhir_service_request_id",
                                        "type": "text"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "number",
                                        "label": "id"
                                    },
                                    {
                                        "name": "patient_name",
                                        "type": "text",
                                        "label": "patient_name"
                                    },
                                    {
                                        "name": "equipment_type",
                                        "type": "text",
                                        "label": "equipment_type"
                                    },
                                    {
                                        "name": "snomed_code",
                                        "type": "text",
                                        "label": "snomed_code"
                                    },
                                    {
                                        "name": "vendor_name",
                                        "type": "text",
                                        "label": "vendor_name"
                                    },
                                    {
                                        "name": "order_status",
                                        "type": "text",
                                        "label": "order_status"
                                    },
                                    {
                                        "name": "created_at",
                                        "type": "text",
                                        "label": "created_at"
                                    },
                                    {
                                        "name": "fhir_patient_id",
                                        "type": "text",
                                        "label": "fhir_patient_id"
                                    },
                                    {
                                        "name": "fhir_service_request_id",
                                        "type": "text",
                                        "label": "fhir_service_request_id"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": [
                [
                    {
                        "id": 7,
                        "module": "placeholder:Placeholder",
                        "filter": null,
                        "metadata": {
                            "designer": {
                                "x": -322,
                                "y": -43
                            }
                        }
                    }
                ]
            ]
        },
        "zone": "us2.make.com",
        "notes": []
    }
}